.header{
    display: flex;
    color:midnightblue;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
}
.title{
    font-weight:bolder;
}
.nav-list{
    display: flex;
    padding-left: 0;

}
.nav-item{
    list-style: none;
    font-weight: bold;
    font-size: large;
}
.nav-item:not(:last-child){
    margin-right: 30px;
}

.subtitle{
    margin:-15% auto 20% 0%;
    font-size:450%;
    bottom:5%;
    left:-82%;
    font-size:500%;
}
.img{
    display: inline-block;
    text-align: right;
    width: 100%;
    height:auto;
}
.blue__box{
    margin:-20% auto 10% 0%;
    background-color: midnightblue;
    padding:100px 80px;
    width:60%;
}

