.header{
    display: flex;
    color:midnightblue;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
}
.title{
    font-weight:bolder;
}
.nav-list{
    display: flex;
    padding-left: 0;

}
.nav-item{
    list-style: none;
    font-weight: bold;
    font-size: large;
}
.nav-item:not(:last-child){
    margin-right: 30px;
}

.subtitle{
    margin:-15% auto 19% 0%;
    font-size:5vw;
}
.img{
    display: inline-block;
    text-align: right;
    width: 100vw;
    height:auto;
}
img{
    width:60vw;
    height:auto;
}

.blue__box{
    margin:-20% auto 10% 0%;
    background-color: midnightblue;
    padding:5vw 3vw;
    width:60vw;
}
