.header{
    display: flex;
    color:midnightblue;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
}
.title{
    font-weight:bolder;
}
.nav-list{
    display: flex;
    padding-left: 0;

}
.nav-item{
    list-style: none;
    font-weight: bold;
    font-size: large;
}
.nav-item:not(:last-child){
    margin-right: 30px;
}
.position-parent{
    position: relative;
    top:50px;
    bottom:20px;
    left:860px;
    right:0%;
    width: 55%;
    height: 700px;
}
.subtitle{
    position:absolute;
    bottom:5%;
    left:-82%;
    font-size:500%;
}
.img{
    position:absolute;
    right:0%;
    z-index: 2;
    width: 95%;
    height:auto;
}
.blue__box{
    position:absolute;
    left:-83%;
    bottom:-10%;
    z-index: 1;
    background-color: midnightblue;
    height:30%;
    width: 120%;
}
